[submodule "modules/Microsoft.VisualBasic.Core"]
	path = modules/Microsoft.VisualBasic.Core
	url = https://github.com/xieguigang/sciBASIC-lang-core.git
[submodule "modules/vs_solutions/dev-kit"]
	path = modules/vs_solutions/dev-kit
	url = https://github.com/xieguigang/dev-kit.git

